* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../image/login_background.jpeg);
    background-size: cover;
}


/******* Main-Content *******/
.main_content {
    width: 100%;
    height: max-content;
}

img {
    -drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/******* Header-Bar *******/
.header-logo {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.header-logo-nav {
    width: 100%;
    height: 100%;
}

#header-logo-a {
    width: 200px;
    height: 45px;
}

.header-bar {
    width:100%;
    height: 90px;
    color: black;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: white; /*rgba(255, 255, 255, 0.438)*/
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/******* CONTENT *******/
.content-below-header {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 90px;
}

.signup-form-div {
    width: 400px;
    height: max-content;
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow:  0px 0px 4px 4px rgba(0,0,0,0.2);
}

.signup-form-h1 h1 {
    font-size: 40px;
    font-weight: 600;
}

.signup-avatar {
    width: 80px;
    margin-top: 25px;
}

/* INFORMATION */
.signup-form-information {
    margin-top: 35px;
}

.information-email-phone p {
    text-align: left;
    font-size: 18px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#form input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #eee;
    border:0;
    border-radius: 5px;
}

#information-continue {
    width: 300px;
    height: 40px;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(37, 37, 231);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#information-continue:hover {
    background-color: rgba(37, 37, 231, 0.863);
}

/** OR LINE **/
.or-line-div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.div-or {
    overflow: hidden;
    text-align: center;
    color: grey;
}
  
.div-or::before,
.div-or::after {
    background-color: rgb(165, 165, 165);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
.div-or::before {
    right: 0.5em;
    margin-left: -50%;
}
  
.div-or::after {
    left: 0.5em;
    margin-right: -50%;
}

/** CONTINUE WITH **/
.continuewith-div {
    margin-top: 20px;
}

.continuewith-div img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.continuewith-div button {
    width: 300px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #eee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.continuewith-div button:hover {
    background-color: rgb(231, 231, 231);
}

#CONTINUE_WITH_APPLE {
    margin-top: 10px;
}

