* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/******* Main-Content *******/
.main_content {
    width: 100%;
    height: max-content;
}

img {
    -drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/******* Header-Bar *******/
.header-logo {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.header-logo-nav {
    width: 100%;
    height: 100%;
}

#header-logo-a {
    width: 200px;
    height: 45px;
}

.header-bar {
    width:100%;
    height: 90px;
    color: black;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: white; /*rgba(255, 255, 255, 0.438)*/
    z-index: 999;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header-bar li, .header-bar a {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.3s ease 0s;
}

.header-bar li:hover, .heaer-bar a:hover {
    color: rgb(37, 37, 231);
    background-color: rgba(221, 220, 220, 0.26);
}

.header-bar li {
    display: inline-block;
    padding: 0px 20px;
    padding-top: 6px;
    height: 35px;
    border: 0;
    border-radius: 100px;
}


#calldriver button {
    width: 160px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    word-spacing: 2px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(37, 37, 231);
    cursor: pointer;
    transition: all 0.5s;
}

#calldriver button:hover {
    color: rgb(37, 37, 231);
    background-color: white;
    border: 1px solid rgb(37, 37, 231);
}


/** RIGHT CALL & LOGIN **/
.rightcontent-call-div {
    display: inline;
}

.rightcontent-login-div {
    display: inline;
    width: 150px;
    margin-left: 50px;
    margin-right: 120px;
}

.rightcontent-login-div button {
    font-size: 16px;
    height: 40px;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
}

#signup_acc button {
    position: absolute;
    color: white;
    width: 100px;
    z-index: 1;
    background-color: #4e4bf8;
}

#signup_acc button:hover {
    background-color: #2f2bfa;
}

#login_acc button {
    position: absolute;
    padding-left: 30px;
    margin-left: 55px;
    width: 120px;
    background-color: #c9c8fc;
}

#login_acc button:hover {
    color: white;
    background-color: #2f2bfa;
}


/** TOGGLE-BUTTON **/
.toggle-button {
    position: absolute;
    top: 36px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 22px;
}

.toggle-button .toggle-bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius:10px;
}

/** LOGIN-BTN **/
.login-button {
    position: absolute;
    top: 30px;
    right: 110px;
    cursor: pointer;
}


.login-button svg {
    width: 30px;
    height: 28px;
    margin-top: 3px;
}

.login-btn-dropdown {
    display: none;
    position: absolute;
    width: 100px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.login-btn-dropdown a {
    float: none;
    display: block;
    font-size: 18px;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: white;
}

.login-btn-dropdown a:hover {
    background-color: rgb(240, 240, 240);
}

#signup_acc_2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login_acc_2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* - DROPDOWN NAVIGATION - */
.nav_links-more-dropdown-div {
    display: inline-block;
    width: fit-content;
}

.nav_links-more-dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    min-width: 210px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 999;
}

.nav_links-more-dropdown a {
    float: none;
    width: 100%;
    height: 50px;
    padding: 15px;
    display: block;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

.nav_links-more-dropdown a:hover {
    background-color: rgba(218, 218, 218, 0.349);
    color: rgb(37, 37, 231);
}

.nav-links-moredown-first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.nav-links-moredown-last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-bar-arrow-down {
    margin-bottom: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/******* DROPDOWN-MENU *******/

.dropdown-menu {
    display: none;
    width: 100%;
    height: max-content;
    opacity: 0;
    background-color: white;
    position: fixed;
    top: 90px;
    z-index: 999;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    animation: fadeIn 0.7s;
    -webkit-animation: fadeIn 0.7s;
    -moz-animation: fadeIn 0.7s;
    -o-animation: fadeIn 0.7s;
    -ms-animation: fadeIn 0.7s;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.dropdown-menu-links {
    height: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media (max-height: 720px) {
    .dropdown-menu {
        height: 57%;
    }

    .dropdown-menu-links {
        height: 100%;
    }
}


.dropdown-menu-links li {
    color: black;
    padding: 18px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    cursor: pointer;
}


.dropdown-menu-links li:hover {
    background-color: rgba(233, 233, 233, 0.288);
    color: rgba(0, 0, 0, 0.753);
}

@media (max-width: 1500px) {
    .rightcontent-login-div {
        margin-left: 20px;
    }
}

@media (max-width: 1330px) {
    .toggle-button {
        display: flex;
    }
    .nav-bar {
        display: none;
    }
    .login-btn {
        display: block;
    }
}

.dropdown-menu-more-div {
    display: none;
    width: 100%;
    height: max-content;
}

.dropdown-menu-more-div a {
    display: block;
    float: none;
    padding-top: 10px;
    padding-left: 30px;
    width: 100%;
    height: 40px;
    color: rgb(138, 138, 138);
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}

.dropdown-menu-more-div a:hover {
    color: rgba(138, 138, 138, 0.884);
    background-color: rgba(233, 233, 233, 0.288);
}

.dropdown_more_arrow {
    margin-bottom: 0px;
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/******* CONTAINER-IMG *******/


.header-container {
    position: relative;
    top: 90px;
    width: 100%;
    height: 660px;
    overflow: hidden;
}

.header-img-container {
    width: 100%;
    height: fit-content;
    display: flex;
    animation: slide 25s infinite;
}   

.header-img-container img {
    width: 100%;
    min-height: 660px;
    object-fit: fill;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}


@media (max-width:772px) {
    .header-img-container {
        height: 100%;
    }
    .header-container {
        max-height: 600px;
    }
    .header-img-container img {
        min-height: 600px;
    }
}


/******* Download App Bar *******/

#app-download-bar-a {
    text-decoration: none;
}

.app-download-bar-div {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 75px;
    display: flex;
    background: linear-gradient(to right, white 50%, rgba(41, 41, 209, 0.911) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app-download-bar-div:hover {
    background-position: left bottom ;
    border-bottom: 1px solid rgba(41, 41, 209, 0.911);
    color: rgba(41, 41, 209, 0.911);
}

.app-download-bar-p {
    position:relative;
    top: 35%;
    left: 10%;
    height: fit-content;
}

/******* MAINCONTENT-BELOW-CONTAINER *******/
.maincontent-below-container {
    position: relative;
    width: 100%;
}

.introvideo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 145px;
    padding-bottom: 145px;
    background-color: #fff;
    /*background-image: url(image/background-img/introvideo_bg.jpeg);*/
    background-position: center;
    background-attachment: fixed;
    --background-blur: 10px;
}

.introvideo-div {
    width: 800px;
}

.intro-word-div {
    width: 30%;
    height: max-content;
    margin-left: 35px;
    font-family: "Open Sans", arial, sans-serif;
}

.intro-word-div h2 {
    width:85%; /*rgb(37, 37, 231)*/
    color: rgb(23, 23, 137);
    font-size: 30px;
    line-height: 37px;
}

.intro-word-div p {
    color: black;
    font-size: 18px;
    line-height: 25px;
}

/** SLIDER DIV **/
.slider-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 248, 251);
    font-family: 'Poppins', sans-serif;
}

.slider-h1 {
    margin-bottom: 30px;
    font-size: 50px;
    letter-spacing: 1.5px;
    color: rgb(33, 33, 186);
}

.slider-h1-a {
    text-decoration: none;
    color: rgb(33, 33, 186);
}

.slider-h1:hover {
    color: rgb(23, 23, 137);
}

.slide-container {
    max-width: 100%;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.slide-content {
    max-width: 1400px;
    margin: 0 40px;
    user-select: none;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    width: 360px;
    height: 470px;
    border-radius: 25px;
    background-color: white;
}

.image-content{
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
}

.card-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 14px;
    align-items: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
}

.card-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.card-description {
    padding-top: 10px;
    font-size: 14px;
    color: #707070;
    height: 130px;
}

.card-button {
    position: relative;
    top: 10px;
    border: none;
    font-size: 16px;
    color: white;
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    margin: 14px;
    border-radius: 4px;
    background-color: rgb(37, 37, 231);
    cursor: pointer;
}

.card-button:hover {
    background-color: rgba(37, 37, 231, 0.868);
}

/** Information-base Div **/
.information-base-section {
    width: 100%;
    height: max-content;
    background-color: #fff;
    align-items: center;
    padding: 200px 120px;
}

/*** SERVICE SECTION, E-WALLET ***/
.service-section, .e-wallet-section {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    flex-direction: row;
    margin-bottom: 130px;
}

.service-image-div, .e-wallet-image-div {
    width: 100%;
    height: 550px;
}

.service-image-div iframe, .e-wallet-image-div img {
    width: 100%;
    height: 550px;
    border-radius: 20px 0 0 20px;
}

.service-description-div, .e-wallet-description-div {
    width: 100%;
}

/* description */
.top-description, .top-description a {
    width: 100%;
    height: 170px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-top-right-radius: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif; /*"Montserrat", sans-serif*/
    font-size: 30px;
    color: whitesmoke;
    padding-top: 50px;
    letter-spacing: 3px;
    text-decoration: none;
}

.top-description a:hover {
    text-decoration: underline;
}

.top-description a:visited {
    color: whitesmoke;
}

.bottom-description {
    padding: 40px;
}

.location-form label {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.location-form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #e4e3e3;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.location-form button {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.location-form button:hover {
    background-image: linear-gradient(to right, #6b11cbe6 0%, #2574fce3 100%);
}

/** IMG RIGHT SIDE SECTION **/
.driver-section {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 130px;
}

.driver-image-div {
    width: 100%; 
    height: 550px;
}

.driver-image-div img {
    width: 100%;
    height: 550px;
    border-radius: 0 20px 20px 0;
}

.driver-description-div {
    width: 100%;
}

.top-description-left, .top-description-left a {
    width: 100%;
    height: 170px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    border-top-left-radius: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif; /*"Montserrat", sans-serif*/
    font-size: 30px;
    color: whitesmoke;
    padding-top: 50px;
    letter-spacing: 3px;
    text-decoration: none;
}

.top-description-left a:hover {
    text-decoration: underline;
}

.top-description-left a:visited {
    color: whitesmoke;
}

.bottom-description-left {
    padding: 40px;
}

.driver-section-p1 {
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
}

.driver-section-p {
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    margin-top: 5px;
}

#driver_learnmore {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

#driver_learnmore:hover {
    background-image: linear-gradient(-225deg, #473b7be8 0%, #3585a7e8 51%, #30d2bfe3 100%);
}





@media (max-width: 1200px) {
    .introvideo-section{
        padding-left: 10px;
        padding-right: 10px;
    }

    .introvideo-div {
        width: 600px;
    }

    .service-section, .e-wallet-section, .driver-section {
        flex-direction: column;
    }

    .service-image-div iframe, .e-wallet-image-div img {
        border-radius: 20px 20px 0 0;
    }

    .top-description {
        border-radius: 0;
    }

    .top-description-left {
        border-radius: 20px 20px 0 0;
    }

    .driver-image-div img {
        border-radius: 0 0 20px 20px;
    }
}

@media (max-width: 1000px) {
    /** Informaion Base **/
    .information-base-section {
        padding: 150px 70px;
    }
}


/** SMALLER **/
@media (max-width: 818px) {
    .introvideo-section {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .introvideo-div {
        width: 100%;
    }

    .intro-word-div {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }

    .intro-word-div h2 {
        font-size: 27px;
    }

    .intro-word-div p {
        font-size: 17px;
    }

    /** SLIDER **/
    .slider-section {
        min-height: 80vh;
        padding-bottom: 20px;
    }

    /** Informaion Base **/
    .information-base-section {
        padding: 150px 10px;
    }

    .top-description, .top-description a, .top-description-left, .top-description-left a {
        font-size: 25px;
        padding-top: 55px;
    }

    .driver-section-p1, .driver-section-p {
        font-size: 20px;
    }

}




























/******* MAIN-FOOTER *******/
.main-codriver-footer {
    width: 100%;
    background-color: #eaeff2;

}

.footer-content {
    width: 100%;
}

.footer-top-content {
    width: 100%;
    height: max-content;
    padding: 60px 100px 60px 60px;
    display: flex;
    justify-content: space-between;
}


/** LOGO CONTAINER **/
.footer-logo-container img {
    width: 200px;
    height: 45px;
}

.footer-codriver-logo {
    width: 200px;
    height: 45px;
}

.footer-logo-container p {
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #383e43;
    line-height: 20px;
    letter-spacing: .2px;
}

#codriver-multi-language {
    margin-top: 30px;
    padding: 7px;
    width: 160px;
    height: 37px;
    font-size: 15px;
    background-color: #eaeff2;
    border-color: #383e43;
}

#codriver-multi-language option:hover {
    background-color: #eaeff22c;
}

/** NAV DIV **/
.footer-top-div {
    display: block;
    font-family:  Helvetica, sans-serif;
    letter-spacing: .3px;
}

.footer-top-div p {
    font-size: 18px;
    font-weight: 600;
    color: #383e43;
}

.footer-top-list {
    margin-top: 16px;
}

.footer-top-list li {
    margin-top: 15px;
    list-style: none;
    transition: transform .2s;
}

.footer-top-list li a {
    line-height: 25px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    transition: transform .2s;
}

.footer-top-list li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(102, 102, 102);
}

/** BOTTOM CONTENT **/  
.footer-social-content {
    padding: 0px 100px 60px 60px;
}

.footer-line-div {
    width: 100%;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgb(182, 182, 182);
}

.content-below-line {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-bottom-div li {
    list-style: none;
}

.footer-bottom-div li a {
    text-decoration: none;
    color: #383e43;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

.terms-div li {
    margin-right: 20px;
}

.terms-div li:hover {
    text-decoration: underline;
    text-decoration-color: #383e43;
}

.social-div li {
    margin-left: 20px;
}

.terms-div, .social-div {
    display: flex;
}

.social-icon img {
    width: 20px;
    height: 20px;
}

/** LAST BOTTOM CONTENT **/
.footer-last-bottom {
    width: 100%;
    height: 60px;
    background-color:#363a45;
    padding: 21px 100px 21px 60px;
}

.footer-last-div {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 18px;
    color: #fff;
}

.footer-last-div a, .footer-last-div a:visited {
    color: #fff;
    text-decoration: none;
}




@media (max-width: 1000px) {
    .footer-top-div {
        display: none;
    }
    .footer-top-content {
        padding: 30px 30px 30px 30px;
    }
    .footer-social-content {
        padding: 30px 30px 30px 30px;
    }
    .footer-last-bottom {
        padding: 21px 30px 21px 30px;
    }
    .social-div li {
        margin-left: 10px;
    }
}
